html, body {
    height: 100%;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

.text {
    text-align: center;
}

#map { 
    height: 512px; 
    width: 512px;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 56px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 56px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 56px 3px rgba(0,0,0,0.75);    
}